<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="fr.inria.diverse.melange.modeltype">
      <modeltype
            uri="http://activitylangmt/"
            id="fr.diverse.activity.ActivityLangMT">
         <subtyping
               modeltypeId="fr.diverse.activity.ActivitySliceMT">
         </subtyping>
      </modeltype>
      <modeltype
            uri="http://lualangmt/"
            id="fr.diverse.activity.LuaLangMT">
      </modeltype>
      <modeltype
            uri="http://ecorelangmt/"
            id="fr.diverse.activity.EcoreLangMT">
      </modeltype>
      <modeltype
            uri="http://activityslicemt/"
            id="fr.diverse.activity.ActivitySliceMT">
      </modeltype>
      <modeltype
            uri="http://activityecorelangmt/"
            id="fr.diverse.activity.ActivityEcoreLangMT">
         <subtyping
               modeltypeId="fr.diverse.activity.EcoreLangMT">
         </subtyping>
         <subtyping
               modeltypeId="fr.diverse.activity.ActivitySliceMT">
         </subtyping>
      </modeltype>
      <modeltype
            uri="http://activityecorelualangmt/"
            id="fr.diverse.activity.ActivityEcoreLuaLangMT">
         <subtyping
               modeltypeId="fr.diverse.activity.LuaLangMT">
         </subtyping>
         <subtyping
               modeltypeId="fr.diverse.activity.EcoreLangMT">
         </subtyping>
         <subtyping
               modeltypeId="fr.diverse.activity.ActivitySliceMT">
         </subtyping>
         <subtyping
               modeltypeId="fr.diverse.activity.ActivityEcoreLangMT">
         </subtyping>
      </modeltype>
   </extension>
   <extension
         point="fr.inria.diverse.melange.language">
      <language
            exactType="fr.diverse.activity.ActivityLangMT"
            uri="http://activitydiagram/1.0"
            id="fr.diverse.activity.ActivityLang">
         <adapter
               class="fr.diverse.activity.activitylang.adapters.activitylangmt.ActivityLangAdapter"
               modeltypeId="fr.diverse.activity.ActivityLangMT">
         </adapter>
         <adapter
               class="fr.diverse.activity.activitylang.adapters.activityslicemt.ActivityLangAdapter"
               modeltypeId="fr.diverse.activity.ActivitySliceMT">
         </adapter>
      </language>
      <language
            exactType="fr.diverse.activity.LuaLangMT"
            uri="http://activitydiagram/1.0"
            id="fr.diverse.activity.LuaLang">
         <adapter
               class="fr.diverse.activity.lualang.adapters.lualangmt.LuaLangAdapter"
               modeltypeId="fr.diverse.activity.LuaLangMT">
         </adapter>
      </language>
      <language
            exactType="fr.diverse.activity.EcoreLangMT"
            uri="http://activitydiagram/1.0"
            id="fr.diverse.activity.EcoreLang">
         <adapter
               class="fr.diverse.activity.ecorelang.adapters.ecorelangmt.EcoreLangAdapter"
               modeltypeId="fr.diverse.activity.EcoreLangMT">
         </adapter>
      </language>
      <language
            exactType="fr.diverse.activity.ActivitySliceMT"
            description="Step 1"
            uri="http://activitydiagram/1.0"
            id="fr.diverse.activity.ActivitySlice">
         <adapter
               class="fr.diverse.activity.activityslice.adapters.activityslicemt.ActivitySliceAdapter"
               modeltypeId="fr.diverse.activity.ActivitySliceMT">
         </adapter>
      </language>
      <language
            exactType="fr.diverse.activity.ActivityEcoreLangMT"
            description="Step 2"
            uri="http://activitydiagram/1.0"
            id="fr.diverse.activity.ActivityEcoreLang">
         <adapter
               class="fr.diverse.activity.activityecorelang.adapters.ecorelangmt.ActivityEcoreLangAdapter"
               modeltypeId="fr.diverse.activity.EcoreLangMT">
         </adapter>
         <adapter
               class="fr.diverse.activity.activityecorelang.adapters.activityslicemt.ActivityEcoreLangAdapter"
               modeltypeId="fr.diverse.activity.ActivitySliceMT">
         </adapter>
         <adapter
               class="fr.diverse.activity.activityecorelang.adapters.activityecorelangmt.ActivityEcoreLangAdapter"
               modeltypeId="fr.diverse.activity.ActivityEcoreLangMT">
         </adapter>
      </language>
      <language
            exactType="fr.diverse.activity.ActivityEcoreLuaLangMT"
            description="Step 3"
            uri="http://activitydiagram/1.0"
            id="fr.diverse.activity.ActivityEcoreLuaLang">
         <adapter
               class="fr.diverse.activity.activityecorelualang.adapters.lualangmt.ActivityEcoreLuaLangAdapter"
               modeltypeId="fr.diverse.activity.LuaLangMT">
         </adapter>
         <adapter
               class="fr.diverse.activity.activityecorelualang.adapters.ecorelangmt.ActivityEcoreLuaLangAdapter"
               modeltypeId="fr.diverse.activity.EcoreLangMT">
         </adapter>
         <adapter
               class="fr.diverse.activity.activityecorelualang.adapters.activityslicemt.ActivityEcoreLuaLangAdapter"
               modeltypeId="fr.diverse.activity.ActivitySliceMT">
         </adapter>
         <adapter
               class="fr.diverse.activity.activityecorelualang.adapters.activityecorelangmt.ActivityEcoreLuaLangAdapter"
               modeltypeId="fr.diverse.activity.ActivityEcoreLangMT">
         </adapter>
         <adapter
               class="fr.diverse.activity.activityecorelualang.adapters.activityecorelualangmt.ActivityEcoreLuaLangAdapter"
               modeltypeId="fr.diverse.activity.ActivityEcoreLuaLangMT">
         </adapter>
      </language>
   </extension>

</plugin>
