<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated OrTrigger -->
      <package
            uri="http://ortrigger"
            class="ortrigger.OrtriggerPackage"
            genModel="models/OrTrigger.genmodel"/>
   </extension>

</plugin>
