<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SimpleConstraints -->
      <package
            uri="http://simpleconstraintslanguage"
            class="simpleconstraintslanguage.SimpleconstraintslanguagePackage"
            genModel="models/SimpleConstraints.genmodel"/>
   </extension>

</plugin>
