<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://fr.inria.diverse.examples.fsm.composite"
            class="finitestatemachines.finitestatemachineuml.adapters.finitestatemachineumlmt.FiniteStateMachineUMLAdapter"
            modeltype_name="FiniteStateMachineUMLMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://fr.inria.diverse.examples.fsm.composite"
            class="finitestatemachines.finitestatemachineuml.adapters.finitestatemachinerhapsodymt.FiniteStateMachineUMLAdapter"
            modeltype_name="FiniteStateMachineRhapsodyMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://fr.inria.diverse.examples.fsm.composite"
            class="finitestatemachines.finitestatemachineuml.adapters.finitestatemachineclassicmt.FiniteStateMachineUMLAdapter"
            modeltype_name="FiniteStateMachineClassicMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://fr.inria.diverse.examples.fsm.composite"
            class="finitestatemachines.finitestatemachinerhapsody.adapters.finitestatemachineumlmt.FiniteStateMachineRhapsodyAdapter"
            modeltype_name="FiniteStateMachineUMLMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://fr.inria.diverse.examples.fsm.composite"
            class="finitestatemachines.finitestatemachinerhapsody.adapters.finitestatemachinerhapsodymt.FiniteStateMachineRhapsodyAdapter"
            modeltype_name="FiniteStateMachineRhapsodyMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://fr.inria.diverse.examples.fsm.composite"
            class="finitestatemachines.finitestatemachinerhapsody.adapters.finitestatemachineclassicmt.FiniteStateMachineRhapsodyAdapter"
            modeltype_name="FiniteStateMachineClassicMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://fr.inria.diverse.examples.fsm.composite"
            class="finitestatemachines.finitestatemachineclassic.adapters.finitestatemachineumlmt.FiniteStateMachineClassicAdapter"
            modeltype_name="FiniteStateMachineUMLMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://fr.inria.diverse.examples.fsm.composite"
            class="finitestatemachines.finitestatemachineclassic.adapters.finitestatemachinerhapsodymt.FiniteStateMachineClassicAdapter"
            modeltype_name="FiniteStateMachineRhapsodyMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://fr.inria.diverse.examples.fsm.composite"
            class="finitestatemachines.finitestatemachineclassic.adapters.finitestatemachineclassicmt.FiniteStateMachineClassicAdapter"
            modeltype_name="FiniteStateMachineClassicMT">
      </adapter>
   </extension>

</plugin>
