<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="fr.inria.diverse.melange.modeltype">
      <modeltype
            uri="http://finitestatemachineumlmt/"
            id="finitestatemachines.FiniteStateMachineUMLMT">
         <subtyping
               modeltypeId="finitestatemachines.FiniteStateMachineRhapsodyMT">
         </subtyping>
         <subtyping
               modeltypeId="finitestatemachines.FiniteStateMachineClassicMT">
         </subtyping>
      </modeltype>
      <modeltype
            uri="http://finitestatemachinerhapsodymt/"
            id="finitestatemachines.FiniteStateMachineRhapsodyMT">
         <subtyping
               modeltypeId="finitestatemachines.FiniteStateMachineUMLMT">
         </subtyping>
         <subtyping
               modeltypeId="finitestatemachines.FiniteStateMachineClassicMT">
         </subtyping>
      </modeltype>
      <modeltype
            uri="http://finitestatemachineclassicmt/"
            id="finitestatemachines.FiniteStateMachineClassicMT">
         <subtyping
               modeltypeId="finitestatemachines.FiniteStateMachineUMLMT">
         </subtyping>
         <subtyping
               modeltypeId="finitestatemachines.FiniteStateMachineRhapsodyMT">
         </subtyping>
      </modeltype>
   </extension>
   <extension
         point="fr.inria.diverse.melange.language">
      <language
            exactType="finitestatemachines.FiniteStateMachineUMLMT"
            id="finitestatemachines.FiniteStateMachineUML">
         <adapter
               class="finitestatemachines.finitestatemachineuml.adapters.finitestatemachineumlmt.FiniteStateMachineUMLAdapter"
               modeltypeId="finitestatemachines.FiniteStateMachineUMLMT">
         </adapter>
         <adapter
               class="finitestatemachines.finitestatemachineuml.adapters.finitestatemachinerhapsodymt.FiniteStateMachineUMLAdapter"
               modeltypeId="finitestatemachines.FiniteStateMachineRhapsodyMT">
         </adapter>
         <adapter
               class="finitestatemachines.finitestatemachineuml.adapters.finitestatemachineclassicmt.FiniteStateMachineUMLAdapter"
               modeltypeId="finitestatemachines.FiniteStateMachineClassicMT">
         </adapter>
      </language>
      <language
            exactType="finitestatemachines.FiniteStateMachineRhapsodyMT"
            id="finitestatemachines.FiniteStateMachineRhapsody">
         <adapter
               class="finitestatemachines.finitestatemachinerhapsody.adapters.finitestatemachineumlmt.FiniteStateMachineRhapsodyAdapter"
               modeltypeId="finitestatemachines.FiniteStateMachineUMLMT">
         </adapter>
         <adapter
               class="finitestatemachines.finitestatemachinerhapsody.adapters.finitestatemachinerhapsodymt.FiniteStateMachineRhapsodyAdapter"
               modeltypeId="finitestatemachines.FiniteStateMachineRhapsodyMT">
         </adapter>
         <adapter
               class="finitestatemachines.finitestatemachinerhapsody.adapters.finitestatemachineclassicmt.FiniteStateMachineRhapsodyAdapter"
               modeltypeId="finitestatemachines.FiniteStateMachineClassicMT">
         </adapter>
      </language>
      <language
            exactType="finitestatemachines.FiniteStateMachineClassicMT"
            id="finitestatemachines.FiniteStateMachineClassic">
         <adapter
               class="finitestatemachines.finitestatemachineclassic.adapters.finitestatemachineumlmt.FiniteStateMachineClassicAdapter"
               modeltypeId="finitestatemachines.FiniteStateMachineUMLMT">
         </adapter>
         <adapter
               class="finitestatemachines.finitestatemachineclassic.adapters.finitestatemachinerhapsodymt.FiniteStateMachineClassicAdapter"
               modeltypeId="finitestatemachines.FiniteStateMachineRhapsodyMT">
         </adapter>
         <adapter
               class="finitestatemachines.finitestatemachineclassic.adapters.finitestatemachineclassicmt.FiniteStateMachineClassicAdapter"
               modeltypeId="finitestatemachines.FiniteStateMachineClassicMT">
         </adapter>
      </language>
   </extension>

</plugin>
