<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gemoc.commons.eclipse.pde.ui.templates">
      <template
            class="fr.inria.diverse.melange.ui.templates.melange.SimpleMTTemplate"
            contributingId="fr.inria.diverse.melange.ui.templates.template1"
            id="fr.inria.diverse.melange.ui.templates.template_simple_mt"
            name="Simple Melange project">
      </template>
   </extension>
   <extension
         point="org.eclipse.gemoc.commons.eclipse.pde.ui.projectContent">
      <wizard
            class="fr.inria.diverse.melange.ui.templates.melange.SimpleMTNewWizard"
            id="fr.inria.diverse.melange.ui.templates.projectContent.SimpleMT"
            name="Simple Melange project"
            targetPluginId="fr.inria.diverse.melange.ui">
         <description>
            This template includes the definition of a language, its model type and a simple transformation.
         </description>
      </wizard>
   </extension>
</plugin>
