<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated minifsm -->
      <package
            uri="http://minifsm/"
            class="fr.inria.diverse.minifsm.MinifsmPackage"
            genModel="model/minifsm.genmodel"/>
   </extension>

</plugin>
