<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated K3SLE -->
      <package
            uri="http://www.inria.fr/diverse/k3/sle"
            class="fr.inria.diverse.k3.sle.metamodel.k3sle.K3slePackage"
            genModel="model/K3SLE.genmodel"/>
   </extension>

</plugin>
