<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://timedfsm/"
            class="inverse.timedfsm.adapters.timedfsmmt.TimedFsmAdapter"
            modeltype_name="TimedFsmMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://timedfsm/"
            class="inverse.timedfsm.adapters.aspectsfsmmt.TimedFsmAdapter"
            modeltype_name="AspectsFsmMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://fsm/"
            class="inverse.aspectsfsm.adapters.timedfsmmt.AspectsFsmAdapter"
            modeltype_name="TimedFsmMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://fsm/"
            class="inverse.aspectsfsm.adapters.aspectsfsmmt.AspectsFsmAdapter"
            modeltype_name="AspectsFsmMT">
      </adapter>
   </extension>

</plugin>
