<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  
<extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="simplefsm.FsmMT" uri="http://fsmmt/"/>
    <modeltype id="simplefsm.TimedFsmMT" uri="http://timedfsmmt/">
      <subtyping modeltypeId="simplefsm.FsmMT"/>
    </modeltype>
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" entryPoints="" exactType="simplefsm.FsmMT" id="simplefsm.Fsm" uri="http://fsm/">
      <adapter class="simplefsm.fsm.adapters.fsmmt.FsmAdapter" modeltypeId="simplefsm.FsmMT"/>
    </language>
    <language aspects="" entryPoints="" exactType="simplefsm.TimedFsmMT" id="simplefsm.TimedFsm" uri="http://timedfsm/">
      <adapter class="simplefsm.timedfsm.adapters.fsmmt.TimedFsmAdapter" modeltypeId="simplefsm.FsmMT"/>
      <adapter class="simplefsm.timedfsm.adapters.timedfsmmt.TimedFsmAdapter" modeltypeId="simplefsm.TimedFsmMT"/>
    </language>
  </extension>
</plugin>
