<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DeepHistory -->
      <package
            uri="http://deephistory"
            class="deephistory.DeephistoryPackage"
            genModel="models/DeepHistory.genmodel"/>
   </extension>

</plugin>
