<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://simplefsm/"
            class="fr.inria.diverse.melange.examples.fsm.project.simplefsm.adapters.minimalfsmmt.SimpleFsmAdapter"
            modeltype_name="MinimalFsmMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://simplefsm/"
            class="fr.inria.diverse.melange.examples.fsm.project.simplefsm.adapters.simplefsmmt.SimpleFsmAdapter"
            modeltype_name="SimpleFsmMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://compositefsm/"
            class="fr.inria.diverse.melange.examples.fsm.project.compositefsm.adapters.minimalfsmmt.CompositeFsmAdapter"
            modeltype_name="MinimalFsmMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://compositefsm/"
            class="fr.inria.diverse.melange.examples.fsm.project.compositefsm.adapters.simplefsmmt.CompositeFsmAdapter"
            modeltype_name="SimpleFsmMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://compositefsm/"
            class="fr.inria.diverse.melange.examples.fsm.project.compositefsm.adapters.compositefsmmt.CompositeFsmAdapter"
            modeltype_name="CompositeFsmMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://fsm/"
            class="fr.inria.diverse.melange.examples.fsm.project.executablefsm.adapters.minimalfsmmt.ExecutableFsmAdapter"
            modeltype_name="MinimalFsmMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://fsm/"
            class="fr.inria.diverse.melange.examples.fsm.project.executablefsm.adapters.simplefsmmt.ExecutableFsmAdapter"
            modeltype_name="SimpleFsmMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://fsm/"
            class="fr.inria.diverse.melange.examples.fsm.project.executablefsm.adapters.executablefsmmt.ExecutableFsmAdapter"
            modeltype_name="ExecutableFsmMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://timedfsm/"
            class="fr.inria.diverse.melange.examples.fsm.project.timedfsm.adapters.minimalfsmmt.TimedFsmAdapter"
            modeltype_name="MinimalFsmMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://timedfsm/"
            class="fr.inria.diverse.melange.examples.fsm.project.timedfsm.adapters.simplefsmmt.TimedFsmAdapter"
            modeltype_name="SimpleFsmMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://timedfsm/"
            class="fr.inria.diverse.melange.examples.fsm.project.timedfsm.adapters.executablefsmmt.TimedFsmAdapter"
            modeltype_name="ExecutableFsmMT">
      </adapter>
   </extension>
   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://timedfsm/"
            class="fr.inria.diverse.melange.examples.fsm.project.timedfsm.adapters.timedfsmmt.TimedFsmAdapter"
            modeltype_name="TimedFsmMT">
      </adapter>
   </extension>

</plugin>
