<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Context -->
      <package
            uri="http://minilang/interpreter/"
            class="fr.inria.diverse.interpreter.InterpreterPackage"
            genModel="model/Context.genmodel"/>
   </extension>

</plugin>