<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="fr.inria.diverse.melange.modeltype">
      <modeltype
            uri="http://flatfsmmt/"
            id="family.FlatFsmMT">
      </modeltype>
      <modeltype
            uri="http://flatfsmsimultaneousmt/"
            id="family.FlatFsmSimultaneousMT">
         <subtyping
               modeltypeId="family.FlatFsmMT">
         </subtyping>
      </modeltype>
      <modeltype
            uri="http://timedfsmmt/"
            id="family.TimedFsmMT">
         <subtyping
               modeltypeId="family.FlatFsmMT">
         </subtyping>
      </modeltype>
      <modeltype
            uri="http://timedfsmsimultaneousmt/"
            id="family.TimedFsmSimultaneousMT">
         <subtyping
               modeltypeId="family.FlatFsmMT">
         </subtyping>
         <subtyping
               modeltypeId="family.FlatFsmSimultaneousMT">
         </subtyping>
         <subtyping
               modeltypeId="family.TimedFsmMT">
         </subtyping>
      </modeltype>
      <modeltype
            uri="http://compositefsmmt/"
            id="family.CompositeFsmMT">
         <subtyping
               modeltypeId="family.FlatFsmMT">
         </subtyping>
      </modeltype>
      <modeltype
            uri="http://compositefsmsimultaneousmt/"
            id="family.CompositeFsmSimultaneousMT">
         <subtyping
               modeltypeId="family.FlatFsmMT">
         </subtyping>
         <subtyping
               modeltypeId="family.FlatFsmSimultaneousMT">
         </subtyping>
         <subtyping
               modeltypeId="family.CompositeFsmMT">
         </subtyping>
      </modeltype>
      <modeltype
            uri="http://timedcompositefsmmt/"
            id="family.TimedCompositeFsmMT">
         <subtyping
               modeltypeId="family.FlatFsmMT">
         </subtyping>
         <subtyping
               modeltypeId="family.TimedFsmMT">
         </subtyping>
      </modeltype>
      <modeltype
            uri="http://timedcompositefsmsimultaneousmt/"
            id="family.TimedCompositeFsmSimultaneousMT">
         <subtyping
               modeltypeId="family.FlatFsmMT">
         </subtyping>
         <subtyping
               modeltypeId="family.FlatFsmSimultaneousMT">
         </subtyping>
         <subtyping
               modeltypeId="family.TimedFsmMT">
         </subtyping>
         <subtyping
               modeltypeId="family.TimedFsmSimultaneousMT">
         </subtyping>
         <subtyping
               modeltypeId="family.TimedCompositeFsmMT">
         </subtyping>
      </modeltype>
   </extension>
   <extension
         point="fr.inria.diverse.melange.language">
      <language
            exactType="family.FlatFsmMT"
            uri="http://flatfsmmt/"
            id="family.FlatFsm">
         <adapter
               class="family.flatfsm.adapters.flatfsmmt.FlatFsmAdapter"
               modeltypeId="family.FlatFsmMT">
         </adapter>
      </language>
      <language
            exactType="family.FlatFsmSimultaneousMT"
            uri="http://flatfsmsimultaneousmt/"
            id="family.FlatFsmSimultaneous">
         <adapter
               class="family.flatfsmsimultaneous.adapters.flatfsmmt.FlatFsmSimultaneousAdapter"
               modeltypeId="family.FlatFsmMT">
         </adapter>
         <adapter
               class="family.flatfsmsimultaneous.adapters.flatfsmsimultaneousmt.FlatFsmSimultaneousAdapter"
               modeltypeId="family.FlatFsmSimultaneousMT">
         </adapter>
      </language>
      <language
            exactType="family.TimedFsmMT"
            uri="http://timedfsmmt/"
            id="family.TimedFsm">
         <adapter
               class="family.timedfsm.adapters.flatfsmmt.TimedFsmAdapter"
               modeltypeId="family.FlatFsmMT">
         </adapter>
         <adapter
               class="family.timedfsm.adapters.timedfsmmt.TimedFsmAdapter"
               modeltypeId="family.TimedFsmMT">
         </adapter>
      </language>
      <language
            exactType="family.TimedFsmSimultaneousMT"
            uri="http://timedfsmsimultaneousmt/"
            id="family.TimedFsmSimultaneous">
         <adapter
               class="family.timedfsmsimultaneous.adapters.flatfsmmt.TimedFsmSimultaneousAdapter"
               modeltypeId="family.FlatFsmMT">
         </adapter>
         <adapter
               class="family.timedfsmsimultaneous.adapters.flatfsmsimultaneousmt.TimedFsmSimultaneousAdapter"
               modeltypeId="family.FlatFsmSimultaneousMT">
         </adapter>
         <adapter
               class="family.timedfsmsimultaneous.adapters.timedfsmmt.TimedFsmSimultaneousAdapter"
               modeltypeId="family.TimedFsmMT">
         </adapter>
         <adapter
               class="family.timedfsmsimultaneous.adapters.timedfsmsimultaneousmt.TimedFsmSimultaneousAdapter"
               modeltypeId="family.TimedFsmSimultaneousMT">
         </adapter>
      </language>
      <language
            exactType="family.CompositeFsmMT"
            uri="http://compositefsmmt/"
            id="family.CompositeFsm">
         <adapter
               class="family.compositefsm.adapters.flatfsmmt.CompositeFsmAdapter"
               modeltypeId="family.FlatFsmMT">
         </adapter>
         <adapter
               class="family.compositefsm.adapters.compositefsmmt.CompositeFsmAdapter"
               modeltypeId="family.CompositeFsmMT">
         </adapter>
      </language>
      <language
            exactType="family.CompositeFsmSimultaneousMT"
            uri="http://compositefsmsimultaneousmt/"
            id="family.CompositeFsmSimultaneous">
         <adapter
               class="family.compositefsmsimultaneous.adapters.flatfsmmt.CompositeFsmSimultaneousAdapter"
               modeltypeId="family.FlatFsmMT">
         </adapter>
         <adapter
               class="family.compositefsmsimultaneous.adapters.flatfsmsimultaneousmt.CompositeFsmSimultaneousAdapter"
               modeltypeId="family.FlatFsmSimultaneousMT">
         </adapter>
         <adapter
               class="family.compositefsmsimultaneous.adapters.compositefsmmt.CompositeFsmSimultaneousAdapter"
               modeltypeId="family.CompositeFsmMT">
         </adapter>
         <adapter
               class="family.compositefsmsimultaneous.adapters.compositefsmsimultaneousmt.CompositeFsmSimultaneousAdapter"
               modeltypeId="family.CompositeFsmSimultaneousMT">
         </adapter>
      </language>
      <language
            exactType="family.TimedCompositeFsmMT"
            uri="http://timedcompositefsmmt/"
            id="family.TimedCompositeFsm">
         <adapter
               class="family.timedcompositefsm.adapters.flatfsmmt.TimedCompositeFsmAdapter"
               modeltypeId="family.FlatFsmMT">
         </adapter>
         <adapter
               class="family.timedcompositefsm.adapters.timedfsmmt.TimedCompositeFsmAdapter"
               modeltypeId="family.TimedFsmMT">
         </adapter>
         <adapter
               class="family.timedcompositefsm.adapters.timedcompositefsmmt.TimedCompositeFsmAdapter"
               modeltypeId="family.TimedCompositeFsmMT">
         </adapter>
      </language>
      <language
            exactType="family.TimedCompositeFsmSimultaneousMT"
            uri="http://timedcompositefsmsimultaneousmt/"
            id="family.TimedCompositeFsmSimultaneous">
         <adapter
               class="family.timedcompositefsmsimultaneous.adapters.flatfsmmt.TimedCompositeFsmSimultaneousAdapter"
               modeltypeId="family.FlatFsmMT">
         </adapter>
         <adapter
               class="family.timedcompositefsmsimultaneous.adapters.flatfsmsimultaneousmt.TimedCompositeFsmSimultaneousAdapter"
               modeltypeId="family.FlatFsmSimultaneousMT">
         </adapter>
         <adapter
               class="family.timedcompositefsmsimultaneous.adapters.timedfsmmt.TimedCompositeFsmSimultaneousAdapter"
               modeltypeId="family.TimedFsmMT">
         </adapter>
         <adapter
               class="family.timedcompositefsmsimultaneous.adapters.timedfsmsimultaneousmt.TimedCompositeFsmSimultaneousAdapter"
               modeltypeId="family.TimedFsmSimultaneousMT">
         </adapter>
         <adapter
               class="family.timedcompositefsmsimultaneous.adapters.timedcompositefsmmt.TimedCompositeFsmSimultaneousAdapter"
               modeltypeId="family.TimedCompositeFsmMT">
         </adapter>
         <adapter
               class="family.timedcompositefsmsimultaneous.adapters.timedcompositefsmsimultaneousmt.TimedCompositeFsmSimultaneousAdapter"
               modeltypeId="family.TimedCompositeFsmSimultaneousMT">
         </adapter>
      </language>
   </extension>

</plugin>
