<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TransitionEffect -->
      <package
            uri="http://transitioneffect"
            class="transitioneffect.TransitioneffectPackage"
            genModel="models/TransitionEffect.genmodel"/>
   </extension>

</plugin>
