<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="fr.inria.diverse.melange.modeltype">
      <modeltype
            uri="http://activitylangmt/"
            id="fr.inria.diverse.iot.ActivityLangMT">
      </modeltype>
      <modeltype
            uri="http://lualangmt/"
            id="fr.inria.diverse.iot.LuaLangMT">
      </modeltype>
      <modeltype
            uri="http://ecoremt/"
            id="fr.inria.diverse.iot.EcoreMT">
      </modeltype>
      <modeltype
            uri="http://activityecorelangmt/"
            id="fr.inria.diverse.iot.ActivityEcoreLangMT">
         <subtyping
               modeltypeId="fr.inria.diverse.iot.ActivityLangMT">
         </subtyping>
         <subtyping
               modeltypeId="fr.inria.diverse.iot.EcoreMT">
         </subtyping>
      </modeltype>
      <modeltype
            uri="http://activityecorelualangmt/"
            id="fr.inria.diverse.iot.ActivityEcoreLuaLangMT">
         <subtyping
               modeltypeId="fr.inria.diverse.iot.ActivityLangMT">
         </subtyping>
         <subtyping
               modeltypeId="fr.inria.diverse.iot.LuaLangMT">
         </subtyping>
         <subtyping
               modeltypeId="fr.inria.diverse.iot.EcoreMT">
         </subtyping>
         <subtyping
               modeltypeId="fr.inria.diverse.iot.ActivityEcoreLangMT">
         </subtyping>
      </modeltype>
   </extension>
   <extension
         point="fr.inria.diverse.melange.language">
      <language
            exactType="fr.inria.diverse.iot.ActivityLangMT"
            uri="http://activitydiagram/1.0"
            id="fr.inria.diverse.iot.ActivityLang">
         <adapter
               class="fr.inria.diverse.iot.activitylang.adapters.activitylangmt.ActivityLangAdapter"
               modeltypeId="fr.inria.diverse.iot.ActivityLangMT">
         </adapter>
      </language>
      <language
            exactType="fr.inria.diverse.iot.LuaLangMT"
            uri="http://lua/1.0"
            id="fr.inria.diverse.iot.LuaLang">
         <adapter
               class="fr.inria.diverse.iot.lualang.adapters.lualangmt.LuaLangAdapter"
               modeltypeId="fr.inria.diverse.iot.LuaLangMT">
         </adapter>
      </language>
      <language
            exactType="fr.inria.diverse.iot.EcoreMT"
            uri="http://www.eclipse.org/emf/2002/Ecore"
            id="fr.inria.diverse.iot.EcoreLang">
         <adapter
               class="fr.inria.diverse.iot.ecorelang.adapters.ecoremt.EcoreLangAdapter"
               modeltypeId="fr.inria.diverse.iot.EcoreMT">
         </adapter>
      </language>
      <language
            exactType="fr.inria.diverse.iot.ActivityEcoreLangMT"
            uri="http://activitydiagram/1.0"
            id="fr.inria.diverse.iot.ActivityEcoreLang">
         <adapter
               class="fr.inria.diverse.iot.activityecorelang.adapters.activitylangmt.ActivityEcoreLangAdapter"
               modeltypeId="fr.inria.diverse.iot.ActivityLangMT">
         </adapter>
         <adapter
               class="fr.inria.diverse.iot.activityecorelang.adapters.ecoremt.ActivityEcoreLangAdapter"
               modeltypeId="fr.inria.diverse.iot.EcoreMT">
         </adapter>
         <adapter
               class="fr.inria.diverse.iot.activityecorelang.adapters.activityecorelangmt.ActivityEcoreLangAdapter"
               modeltypeId="fr.inria.diverse.iot.ActivityEcoreLangMT">
         </adapter>
      </language>
      <language
            exactType="fr.inria.diverse.iot.ActivityEcoreLuaLangMT"
            uri="http://activitydiagram/1.0"
            id="fr.inria.diverse.iot.ActivityEcoreLuaLang">
         <adapter
               class="fr.inria.diverse.iot.activityecorelualang.adapters.activitylangmt.ActivityEcoreLuaLangAdapter"
               modeltypeId="fr.inria.diverse.iot.ActivityLangMT">
         </adapter>
         <adapter
               class="fr.inria.diverse.iot.activityecorelualang.adapters.lualangmt.ActivityEcoreLuaLangAdapter"
               modeltypeId="fr.inria.diverse.iot.LuaLangMT">
         </adapter>
         <adapter
               class="fr.inria.diverse.iot.activityecorelualang.adapters.ecoremt.ActivityEcoreLuaLangAdapter"
               modeltypeId="fr.inria.diverse.iot.EcoreMT">
         </adapter>
         <adapter
               class="fr.inria.diverse.iot.activityecorelualang.adapters.activityecorelangmt.ActivityEcoreLuaLangAdapter"
               modeltypeId="fr.inria.diverse.iot.ActivityEcoreLangMT">
         </adapter>
         <adapter
               class="fr.inria.diverse.iot.activityecorelualang.adapters.activityecorelualangmt.ActivityEcoreLuaLangAdapter"
               modeltypeId="fr.inria.diverse.iot.ActivityEcoreLuaLangMT">
         </adapter>
      </language>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LuaLangMT -->
      <package
            uri="http://lualangmt/"
            class="lua.LuaPackage"
            genModel="model-gen/LuaLangMT.genmodel"/>
   </extension>

</plugin>
