<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fsmcore -->
      <package
            uri="http://fr.inria.diverse.examples.fsm.core"
            class="fsmcore.FsmcorePackage"
            genModel="models/fsmcore.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fsmcore-Required -->
      <package
            uri="http://fr.inria.diverse.examples.fsm.core/required"
            class="fsmrequired.FsmrequiredPackage"
            genModel="models/fsmcore-Required.genmodel"/>
   </extension>

</plugin>
