<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Fsm -->
      <package
            uri="http://xcorefsm/"
            class="xcore.fsm.FsmPackage"
            genModel="src/Fsm.xcore"/>
   </extension>

</plugin>
