<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="fr.inria.diverse.melange.modeltype">
      <modeltype
            uri="http://fsmmt/"
            id="inheritancefsm.FsmMT">
         <subtyping
               modeltypeId="inheritancefsm.TimedFsmMT">
         </subtyping>
      </modeltype>
      <modeltype
            uri="http://timedfsmmt/"
            id="inheritancefsm.TimedFsmMT">
         <subtyping
               modeltypeId="inheritancefsm.FsmMT">
         </subtyping>
      </modeltype>
   </extension>
   <extension
         point="fr.inria.diverse.melange.language">
      <language
            exactType="inheritancefsm.FsmMT"
            id="inheritancefsm.Fsm">
         <adapter
               class="inheritancefsm.fsm.adapters.fsmmt.FsmAdapter"
               modeltypeId="inheritancefsm.FsmMT">
         </adapter>
         <adapter
               class="inheritancefsm.fsm.adapters.timedfsmmt.FsmAdapter"
               modeltypeId="inheritancefsm.TimedFsmMT">
         </adapter>
      </language>
   </extension>

</plugin>
