<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

<extension point="org.eclipse.emf.ecore.generated_package">
	<package
		uri="http://activityslice/"
		class="activityslice.ActivitySlicePackage"
		genModel="model/ActivitySlice.genmodel"/>
</extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ActivitySlice -->
      <package
            uri="http://activitydiagram/1.0"
            class="activitydiagram.ActivitydiagramPackage"
            genModel="model/ActivitySlice.genmodel"/>
   </extension>

</plugin>
