<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="fr.inria.diverse.melange.modeltype">
      <modeltype
            uri="http://activitylangmt/"
            id="fr.inria.diverse.iot.ActivityLangMT">
      </modeltype>
      <modeltype
            uri="http://lualangmt/"
            id="fr.inria.diverse.iot.LuaLangMT">
      </modeltype>
      <modeltype
            uri="http://ecoremt/"
            id="fr.inria.diverse.iot.EcoreMT">
      </modeltype>
      <modeltype
            uri="http://iotlangmt/"
            id="fr.inria.diverse.iot.IoTLangMT">
         <subtyping
               modeltypeId="fr.inria.diverse.iot.LuaLangMT">
         </subtyping>
         <subtyping
               modeltypeId="fr.inria.diverse.iot.EcoreMT">
         </subtyping>
      </modeltype>
   </extension>
   <extension
         point="fr.inria.diverse.melange.language">
      <language
            exactType="fr.inria.diverse.iot.ActivityLangMT"
            uri="http://activitydiagram/1.0"
            id="fr.inria.diverse.iot.ActivityLang">
         <adapter
               class="fr.inria.diverse.iot.activitylang.adapters.activitylangmt.ActivityLangAdapter"
               modeltypeId="fr.inria.diverse.iot.ActivityLangMT">
         </adapter>
      </language>
      <language
            exactType="fr.inria.diverse.iot.LuaLangMT"
            uri="http://lua/1.0"
            id="fr.inria.diverse.iot.LuaLang">
         <adapter
               class="fr.inria.diverse.iot.lualang.adapters.lualangmt.LuaLangAdapter"
               modeltypeId="fr.inria.diverse.iot.LuaLangMT">
         </adapter>
      </language>
      <language
            exactType="fr.inria.diverse.iot.EcoreMT"
            uri="http://www.eclipse.org/emf/2002/Ecore"
            id="fr.inria.diverse.iot.EcoreLang">
         <adapter
               class="fr.inria.diverse.iot.ecorelang.adapters.ecoremt.EcoreLangAdapter"
               modeltypeId="fr.inria.diverse.iot.EcoreMT">
         </adapter>
      </language>
      <language
            exactType="fr.inria.diverse.iot.IoTLangMT"
            uri="http://activitydiagram/1.0"
            id="fr.inria.diverse.iot.IoTLang">
         <adapter
               class="fr.inria.diverse.iot.iotlang.adapters.lualangmt.IoTLangAdapter"
               modeltypeId="fr.inria.diverse.iot.LuaLangMT">
         </adapter>
         <adapter
               class="fr.inria.diverse.iot.iotlang.adapters.ecoremt.IoTLangAdapter"
               modeltypeId="fr.inria.diverse.iot.EcoreMT">
         </adapter>
         <adapter
               class="fr.inria.diverse.iot.iotlang.adapters.iotlangmt.IoTLangAdapter"
               modeltypeId="fr.inria.diverse.iot.IoTLangMT">
         </adapter>
      </language>
   </extension>

</plugin>
