<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="fr.inria.diverse.melange.modeltype">
      <modeltype
            uri="http://amt/"
            id="inheritanceoverriding.AMT">
         <subtyping
               modeltypeId="inheritanceoverriding.ZMT">
         </subtyping>
      </modeltype>
      <modeltype
            uri="http://bmt/"
            id="inheritanceoverriding.BMT">
         <subtyping
               modeltypeId="inheritanceoverriding.AMT">
         </subtyping>
         <subtyping
               modeltypeId="inheritanceoverriding.ZMT">
         </subtyping>
      </modeltype>
      <modeltype
            uri="http://cmt/"
            id="inheritanceoverriding.CMT">
         <subtyping
               modeltypeId="inheritanceoverriding.AMT">
         </subtyping>
         <subtyping
               modeltypeId="inheritanceoverriding.BMT">
         </subtyping>
         <subtyping
               modeltypeId="inheritanceoverriding.XMT">
         </subtyping>
         <subtyping
               modeltypeId="inheritanceoverriding.YMT">
         </subtyping>
         <subtyping
               modeltypeId="inheritanceoverriding.ZMT">
         </subtyping>
      </modeltype>
      <modeltype
            uri="http://dmt/"
            id="inheritanceoverriding.DMT">
         <subtyping
               modeltypeId="inheritanceoverriding.AMT">
         </subtyping>
         <subtyping
               modeltypeId="inheritanceoverriding.BMT">
         </subtyping>
         <subtyping
               modeltypeId="inheritanceoverriding.CMT">
         </subtyping>
         <subtyping
               modeltypeId="inheritanceoverriding.XMT">
         </subtyping>
         <subtyping
               modeltypeId="inheritanceoverriding.YMT">
         </subtyping>
         <subtyping
               modeltypeId="inheritanceoverriding.ZMT">
         </subtyping>
      </modeltype>
      <modeltype
            uri="http://xmt/"
            id="inheritanceoverriding.XMT">
         <subtyping
               modeltypeId="inheritanceoverriding.AMT">
         </subtyping>
         <subtyping
               modeltypeId="inheritanceoverriding.ZMT">
         </subtyping>
      </modeltype>
      <modeltype
            uri="http://ymt/"
            id="inheritanceoverriding.YMT">
         <subtyping
               modeltypeId="inheritanceoverriding.AMT">
         </subtyping>
         <subtyping
               modeltypeId="inheritanceoverriding.BMT">
         </subtyping>
         <subtyping
               modeltypeId="inheritanceoverriding.CMT">
         </subtyping>
         <subtyping
               modeltypeId="inheritanceoverriding.XMT">
         </subtyping>
         <subtyping
               modeltypeId="inheritanceoverriding.ZMT">
         </subtyping>
      </modeltype>
      <modeltype
            uri="http://zmt/"
            id="inheritanceoverriding.ZMT">
         <subtyping
               modeltypeId="inheritanceoverriding.AMT">
         </subtyping>
      </modeltype>
   </extension>
   <extension
         point="fr.inria.diverse.melange.language">
      <language
            exactType="inheritanceoverriding.AMT"
            uri="http://fsm/"
            id="inheritanceoverriding.A">
         <adapter
               class="inheritanceoverriding.a.adapters.amt.AAdapter"
               modeltypeId="inheritanceoverriding.AMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.a.adapters.zmt.AAdapter"
               modeltypeId="inheritanceoverriding.ZMT">
         </adapter>
      </language>
      <language
            exactType="inheritanceoverriding.BMT"
            uri="http://b/"
            id="inheritanceoverriding.B">
         <adapter
               class="inheritanceoverriding.b.adapters.amt.BAdapter"
               modeltypeId="inheritanceoverriding.AMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.b.adapters.bmt.BAdapter"
               modeltypeId="inheritanceoverriding.BMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.b.adapters.zmt.BAdapter"
               modeltypeId="inheritanceoverriding.ZMT">
         </adapter>
      </language>
      <language
            exactType="inheritanceoverriding.CMT"
            uri="http://c/"
            id="inheritanceoverriding.C">
         <adapter
               class="inheritanceoverriding.c.adapters.amt.CAdapter"
               modeltypeId="inheritanceoverriding.AMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.c.adapters.bmt.CAdapter"
               modeltypeId="inheritanceoverriding.BMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.c.adapters.cmt.CAdapter"
               modeltypeId="inheritanceoverriding.CMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.c.adapters.xmt.CAdapter"
               modeltypeId="inheritanceoverriding.XMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.c.adapters.ymt.CAdapter"
               modeltypeId="inheritanceoverriding.YMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.c.adapters.zmt.CAdapter"
               modeltypeId="inheritanceoverriding.ZMT">
         </adapter>
      </language>
      <language
            exactType="inheritanceoverriding.DMT"
            uri="http://d/"
            id="inheritanceoverriding.D">
         <adapter
               class="inheritanceoverriding.d.adapters.amt.DAdapter"
               modeltypeId="inheritanceoverriding.AMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.d.adapters.bmt.DAdapter"
               modeltypeId="inheritanceoverriding.BMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.d.adapters.cmt.DAdapter"
               modeltypeId="inheritanceoverriding.CMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.d.adapters.dmt.DAdapter"
               modeltypeId="inheritanceoverriding.DMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.d.adapters.xmt.DAdapter"
               modeltypeId="inheritanceoverriding.XMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.d.adapters.ymt.DAdapter"
               modeltypeId="inheritanceoverriding.YMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.d.adapters.zmt.DAdapter"
               modeltypeId="inheritanceoverriding.ZMT">
         </adapter>
      </language>
      <language
            exactType="inheritanceoverriding.XMT"
            uri="http://x/"
            id="inheritanceoverriding.X">
         <adapter
               class="inheritanceoverriding.x.adapters.amt.XAdapter"
               modeltypeId="inheritanceoverriding.AMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.x.adapters.xmt.XAdapter"
               modeltypeId="inheritanceoverriding.XMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.x.adapters.zmt.XAdapter"
               modeltypeId="inheritanceoverriding.ZMT">
         </adapter>
      </language>
      <language
            exactType="inheritanceoverriding.YMT"
            uri="http://y/"
            id="inheritanceoverriding.Y">
         <adapter
               class="inheritanceoverriding.y.adapters.amt.YAdapter"
               modeltypeId="inheritanceoverriding.AMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.y.adapters.bmt.YAdapter"
               modeltypeId="inheritanceoverriding.BMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.y.adapters.cmt.YAdapter"
               modeltypeId="inheritanceoverriding.CMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.y.adapters.xmt.YAdapter"
               modeltypeId="inheritanceoverriding.XMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.y.adapters.ymt.YAdapter"
               modeltypeId="inheritanceoverriding.YMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.y.adapters.zmt.YAdapter"
               modeltypeId="inheritanceoverriding.ZMT">
         </adapter>
      </language>
      <language
            exactType="inheritanceoverriding.ZMT"
            uri="http://z/"
            id="inheritanceoverriding.Z">
         <adapter
               class="inheritanceoverriding.z.adapters.amt.ZAdapter"
               modeltypeId="inheritanceoverriding.AMT">
         </adapter>
         <adapter
               class="inheritanceoverriding.z.adapters.zmt.ZAdapter"
               modeltypeId="inheritanceoverriding.ZMT">
         </adapter>
      </language>
   </extension>

</plugin>
