<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
  
<extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="inheritanceoverriding.AMT" uri="http://amt/">
      <subtyping modeltypeId="inheritanceoverriding.ZMT"/>
    </modeltype>
    <modeltype id="inheritanceoverriding.BMT" uri="http://bmt/">
      <subtyping modeltypeId="inheritanceoverriding.AMT"/>
      <subtyping modeltypeId="inheritanceoverriding.ZMT"/>
    </modeltype>
    <modeltype id="inheritanceoverriding.CMT" uri="http://cmt/">
      <subtyping modeltypeId="inheritanceoverriding.AMT"/>
      <subtyping modeltypeId="inheritanceoverriding.BMT"/>
      <subtyping modeltypeId="inheritanceoverriding.XMT"/>
      <subtyping modeltypeId="inheritanceoverriding.YMT"/>
      <subtyping modeltypeId="inheritanceoverriding.ZMT"/>
    </modeltype>
    <modeltype id="inheritanceoverriding.DMT" uri="http://dmt/">
      <subtyping modeltypeId="inheritanceoverriding.AMT"/>
      <subtyping modeltypeId="inheritanceoverriding.BMT"/>
      <subtyping modeltypeId="inheritanceoverriding.CMT"/>
      <subtyping modeltypeId="inheritanceoverriding.XMT"/>
      <subtyping modeltypeId="inheritanceoverriding.YMT"/>
      <subtyping modeltypeId="inheritanceoverriding.ZMT"/>
    </modeltype>
    <modeltype id="inheritanceoverriding.XMT" uri="http://xmt/">
      <subtyping modeltypeId="inheritanceoverriding.AMT"/>
      <subtyping modeltypeId="inheritanceoverriding.ZMT"/>
    </modeltype>
    <modeltype id="inheritanceoverriding.YMT" uri="http://ymt/">
      <subtyping modeltypeId="inheritanceoverriding.AMT"/>
      <subtyping modeltypeId="inheritanceoverriding.BMT"/>
      <subtyping modeltypeId="inheritanceoverriding.CMT"/>
      <subtyping modeltypeId="inheritanceoverriding.XMT"/>
      <subtyping modeltypeId="inheritanceoverriding.ZMT"/>
    </modeltype>
    <modeltype id="inheritanceoverriding.ZMT" uri="http://zmt/">
      <subtyping modeltypeId="inheritanceoverriding.AMT"/>
    </modeltype>
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="FSM:inheritanceoverriding.A1" entryPoints="" exactType="inheritanceoverriding.AMT" id="inheritanceoverriding.A" uri="http://fsm/">
      <adapter class="inheritanceoverriding.a.adapters.amt.AAdapter" modeltypeId="inheritanceoverriding.AMT"/>
      <adapter class="inheritanceoverriding.a.adapters.zmt.AAdapter" modeltypeId="inheritanceoverriding.ZMT"/>
    </language>
    <language aspects="FSM:inheritanceoverriding.b.aspects.OverrideA1,inheritanceoverriding.b.aspects.A1;State:inheritanceoverriding.b.aspects.B2;Transition:inheritanceoverriding.b.aspects.C1" entryPoints="" exactType="inheritanceoverriding.BMT" id="inheritanceoverriding.B" uri="http://b/">
      <adapter class="inheritanceoverriding.b.adapters.amt.BAdapter" modeltypeId="inheritanceoverriding.AMT"/>
      <adapter class="inheritanceoverriding.b.adapters.bmt.BAdapter" modeltypeId="inheritanceoverriding.BMT"/>
      <adapter class="inheritanceoverriding.b.adapters.zmt.BAdapter" modeltypeId="inheritanceoverriding.ZMT"/>
    </language>
    <language aspects="FSM:inheritanceoverriding.c.aspects.OverrideA1,inheritanceoverriding.c.aspects.A1;State:inheritanceoverriding.c.aspects.B1,inheritanceoverriding.c.aspects.B2;Transition:inheritanceoverriding.c.aspects.OverrideC1,inheritanceoverriding.c.aspects.C1" entryPoints="" exactType="inheritanceoverriding.CMT" id="inheritanceoverriding.C" uri="http://c/">
      <adapter class="inheritanceoverriding.c.adapters.amt.CAdapter" modeltypeId="inheritanceoverriding.AMT"/>
      <adapter class="inheritanceoverriding.c.adapters.bmt.CAdapter" modeltypeId="inheritanceoverriding.BMT"/>
      <adapter class="inheritanceoverriding.c.adapters.cmt.CAdapter" modeltypeId="inheritanceoverriding.CMT"/>
      <adapter class="inheritanceoverriding.c.adapters.xmt.CAdapter" modeltypeId="inheritanceoverriding.XMT"/>
      <adapter class="inheritanceoverriding.c.adapters.ymt.CAdapter" modeltypeId="inheritanceoverriding.YMT"/>
      <adapter class="inheritanceoverriding.c.adapters.zmt.CAdapter" modeltypeId="inheritanceoverriding.ZMT"/>
    </language>
    <language aspects="FSM:inheritanceoverriding.d.aspects.OverrideA1,inheritanceoverriding.d.aspects.A1;State:inheritanceoverriding.d.aspects.OverrideB2,inheritanceoverriding.d.aspects.B1,inheritanceoverriding.d.aspects.B2;Transition:inheritanceoverriding.d.aspects.C2,inheritanceoverriding.d.aspects.OverrideC1,inheritanceoverriding.d.aspects.C1" entryPoints="" exactType="inheritanceoverriding.DMT" id="inheritanceoverriding.D" uri="http://d/">
      <adapter class="inheritanceoverriding.d.adapters.amt.DAdapter" modeltypeId="inheritanceoverriding.AMT"/>
      <adapter class="inheritanceoverriding.d.adapters.bmt.DAdapter" modeltypeId="inheritanceoverriding.BMT"/>
      <adapter class="inheritanceoverriding.d.adapters.cmt.DAdapter" modeltypeId="inheritanceoverriding.CMT"/>
      <adapter class="inheritanceoverriding.d.adapters.dmt.DAdapter" modeltypeId="inheritanceoverriding.DMT"/>
      <adapter class="inheritanceoverriding.d.adapters.xmt.DAdapter" modeltypeId="inheritanceoverriding.XMT"/>
      <adapter class="inheritanceoverriding.d.adapters.ymt.DAdapter" modeltypeId="inheritanceoverriding.YMT"/>
      <adapter class="inheritanceoverriding.d.adapters.zmt.DAdapter" modeltypeId="inheritanceoverriding.ZMT"/>
    </language>
    <language aspects="FSM:inheritanceoverriding.x.aspects.A1;State:inheritanceoverriding.x.aspects.B1;Transition:inheritanceoverriding.x.aspects.C1" entryPoints="" exactType="inheritanceoverriding.XMT" id="inheritanceoverriding.X" uri="http://x/">
      <adapter class="inheritanceoverriding.x.adapters.amt.XAdapter" modeltypeId="inheritanceoverriding.AMT"/>
      <adapter class="inheritanceoverriding.x.adapters.xmt.XAdapter" modeltypeId="inheritanceoverriding.XMT"/>
      <adapter class="inheritanceoverriding.x.adapters.zmt.XAdapter" modeltypeId="inheritanceoverriding.ZMT"/>
    </language>
    <language aspects="FSM:inheritanceoverriding.y.aspects.A1;State:inheritanceoverriding.y.aspects.B2,inheritanceoverriding.y.aspects.B1;Transition:inheritanceoverriding.y.aspects.C1" entryPoints="" exactType="inheritanceoverriding.YMT" id="inheritanceoverriding.Y" uri="http://y/">
      <adapter class="inheritanceoverriding.y.adapters.amt.YAdapter" modeltypeId="inheritanceoverriding.AMT"/>
      <adapter class="inheritanceoverriding.y.adapters.bmt.YAdapter" modeltypeId="inheritanceoverriding.BMT"/>
      <adapter class="inheritanceoverriding.y.adapters.cmt.YAdapter" modeltypeId="inheritanceoverriding.CMT"/>
      <adapter class="inheritanceoverriding.y.adapters.xmt.YAdapter" modeltypeId="inheritanceoverriding.XMT"/>
      <adapter class="inheritanceoverriding.y.adapters.ymt.YAdapter" modeltypeId="inheritanceoverriding.YMT"/>
      <adapter class="inheritanceoverriding.y.adapters.zmt.YAdapter" modeltypeId="inheritanceoverriding.ZMT"/>
    </language>
    <language aspects="FSM:inheritanceoverriding.z.aspects.A1" entryPoints="" exactType="inheritanceoverriding.ZMT" id="inheritanceoverriding.Z" uri="http://z/">
      <adapter class="inheritanceoverriding.z.adapters.amt.ZAdapter" modeltypeId="inheritanceoverriding.AMT"/>
      <adapter class="inheritanceoverriding.z.adapters.zmt.ZAdapter" modeltypeId="inheritanceoverriding.ZMT"/>
    </language>
  </extension>
</plugin>
