<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated Fsm -->
    <package class="xcore.fsm.FsmPackage" genModel="src/Fsm.xcore" uri="http://xcorefsm/"/>
  </extension>
  
<extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="xcore.XcoreFsmMT" uri="http://xcorefsmmt/"/>
    <modeltype id="xcore.EcoreFsmMT" uri="http://ecorefsmmt/"/>
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" entryPoints="" exactType="xcore.XcoreFsmMT" id="xcore.XcoreFsm" uri="http://xcorefsmmt/">
      <adapter class="xcore.xcorefsm.adapters.xcorefsmmt.XcoreFsmAdapter" modeltypeId="xcore.XcoreFsmMT"/>
    </language>
    <language aspects="" entryPoints="" exactType="xcore.EcoreFsmMT" id="xcore.EcoreFsm" uri="http://ecorefsmmt/">
      <adapter class="xcore.ecorefsm.adapters.ecorefsmmt.EcoreFsmAdapter" modeltypeId="xcore.EcoreFsmMT"/>
    </language>
  </extension>
</plugin>
