<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="fr.inria.diverse.melange.modeltype">
      <modeltype
            uri="http://fsmmt/"
            id="simpleaspects.FsmMT">
         <subtyping
               modeltypeId="simpleaspects.TimedFsmMT">
         </subtyping>
      </modeltype>
      <modeltype
            uri="http://timedfsmmt/"
            id="simpleaspects.TimedFsmMT">
         <subtyping
               modeltypeId="simpleaspects.FsmMT">
         </subtyping>
      </modeltype>
   </extension>
   <extension
         point="fr.inria.diverse.melange.language">
      <language
            exactType="simpleaspects.FsmMT"
            uri="http://fsm/"
            id="simpleaspects.Fsm">
         <adapter
               class="simpleaspects.fsm.adapters.fsmmt.FsmAdapter"
               modeltypeId="simpleaspects.FsmMT">
         </adapter>
         <adapter
               class="simpleaspects.fsm.adapters.timedfsmmt.FsmAdapter"
               modeltypeId="simpleaspects.TimedFsmMT">
         </adapter>
      </language>
      <language
            exactType="simpleaspects.TimedFsmMT"
            uri="http://timedfsm/"
            id="simpleaspects.TimedFsm">
         <adapter
               class="simpleaspects.timedfsm.adapters.fsmmt.TimedFsmAdapter"
               modeltypeId="simpleaspects.FsmMT">
         </adapter>
         <adapter
               class="simpleaspects.timedfsm.adapters.timedfsmmt.TimedFsmAdapter"
               modeltypeId="simpleaspects.TimedFsmMT">
         </adapter>
      </language>
   </extension>

</plugin>
