<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SimpleFSM -->
      <package
            uri="http://simplefsm/"
            class="simplefsm.SimplefsmPackage"
            genModel="model/SimpleFSM.genmodel"/>
   </extension>

</plugin>
