<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="fr.inria.diverse.melange.adapter">
      <adapter
            metamodel_uri="http://www.polarsys.org/capella/core/modeller/0.8.0"
            class="capella.capella.adapters.capellamt.CapellaAdapter"
            modeltype_name="CapellaMT">
      </adapter>
   </extension>

</plugin>
